pytest-runner
scipy
tensorboardX
faiss-gpu==1.6.1
tqdm
lmdb
sklearn
pyarrow==2.0.0
timm
munkres
six
einops
pytorch_metric_learning
tabulate
scikit-learn
gin-config
typing-extensions
requests
opencv-python